.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    display: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
    display: none;
}

.custom-switch .custom-control-label::before {
    display: none;
}

.custom-switch .custom-control-label::after {
    display: none;
}

/*My Css*/
a:hover{
    text-decoration: none !important;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
}
.card-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.content{
    margin-top: 65px;
    margin-bottom: 65px;
}

.carousel-control-prev{
    background-image: linear-gradient(to right, black , transparent);
}
.carousel-control-next{
    background-image: linear-gradient(to right, transparent , black);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.card{
    background-color: #f6f6f7;
}

/*card hovar*/
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay:hover img {
    opacity: 0.1;
}

.overlay:hover .middle {
    opacity: 10;
}
.img-details{
    height: 200px;
}

.search-nav-form{
    display: none;
}
/*inc dec*/
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

body .container .product-counter {
    width: 300px;
    display: inline-block;
}
body .container #quantity {
    font-family: "Abril Fatface", cursive;
    font-weight: bold;
    outline-style: none;
    text-align: center;
    height: 30px;
    width: 50px;
    margin-left: -4px;
    position: relative;
    top: -5.5px;
    padding: 0 10px;
    background: #343A40;
    border: none;
    color: #d0fcfb;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
body .container input[type=button].plus-minus {
    background-color: #343A40;
    cursor: pointer;
    outline-style: none;
    width: 50px;
    height: 30px;
    border: 0;
    color: #d0fcfb;
    text-align: center;
    line-height: 26px;
    font-size: 36px;
    font-family: "Dosis", sans-serif;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
body .container input[type=button]#minus {
    border-radius: 10px 0 0 10px;
}
body .container input[type=button]#plus {
    border-radius: 0 10px 10px 0;
    margin-left: -5px;
}
body .container input#total-price {
    font-family: "Abril Fatface", cursive;
    font-size: 60px;
    width: 249px;
    border: 0;
    color: #343A40;
    background-color: #fdc9a2;
}
body .container .skuBestPrice {
    font-family: "Abril Fatface", cursive;
}
