.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    display: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
    display: none;
}

.custom-switch .custom-control-label::before {
    display: none;
}

.custom-switch .custom-control-label::after {
    display: none;
}

/*My Css*/
.header{
    position: fixed;
    top: 0;
    width: 100%;
}
.card-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.content{
    margin-top: 65px;
    margin-bottom: 65px;
}

.carousel-control-prev{
    background-image: linear-gradient(to right, black , transparent);
}
.carousel-control-next{
    background-image: linear-gradient(to right, transparent , black);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.card{
    background-color: #f6f6f7;
}

